<!DOCTYPE html>
<html>
<head>
	<title>Catálogo</title>
	<meta charset="utf-8">
	<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/js/functions.js?v=<?php echo time(); ?>"></script> -->
	<link rel="stylesheet" type="text/css" href="../css/catalogo.css">
	<link rel="shortcut icon" href="../img/huella.png">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:300,400,700&display=swap" rel="stylesheet">
</head>
<div id="main-container">
<form method="post" action="catalogo.php">
	<header id="centro">
		<img class="images" src="../img/p1.jpg">
		<img class="images" src="../img/p2.jpg">
		<img class="images" src="../img/p3.jpg">
		<img class="images" src="../img/p4.jpg">
		<img class="images" src="../img/p5.jpg">
		<img class="images" src="../img/p6.jpg">
		<img class="images" src="../img/p7.jpg">
		<img class="images" src="../img/p8.jpg">
		<img class="images" src="../img/p9.jpg">
		<img class="images" src="../img/p10.jpg">
		<img class="images" src="../img/p11.jpg">
		<img class="images" src="../img/p12.jpg">
		<img class="images" src="../img/p13.jpg">
		<img class="images" src="../img/p14.jpg">
		<img class="images" src="../img/p15.jpg">
		<img class="images" src="../img/p16.jpg">
	</div>
	<div id="header">
		<img class="icons" src="../img/huella.png" alt="menu-icon2" style="left: 1275px;">
		<h1 style="font-family: 'Quicksand'">Catálogo de Mascotas</h1>
		<input type="checkbox" id="chec">
		<label for="chec">
			<img class="icons" src="../img/menu.png">
		</label>
		<nav>
			<ul>
				<li> <a href="#">Inicio</a> </li>
				<li> <a href="#">Iniciar Sesión</a> </li>
				<li> <a href="#">Registrarse</a> </li>
        <li> <a href="#">Registrar Mascota</a> </li>
				<li> <a href="#">Foro</a> </li>
			</ul>
		</nav>
	</div>
</form>
</header>
</body>
</html>
