<!DOCTYPE html>
<html>
<head>
	<title>Registrarse</title>
	<meta charset="utf-8">
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script defer type="text/javascript" src="../js/formulario.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/formulario.css">
	<link rel="shortcut icon" href="huella.png">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
<div id="main-container">
<form method="post" action="formulario.php">
	<header id="centro">
		<input id="nombre" type="text" placeholder="Nombre del perro:">
		<input id="macho" type="radio" name="sexo"><label id="macho-txt" for="macho">Macho</label>
		<input id="hembra" type="radio" name="sexo"><label id="hembra-txt" for="hembra">Hembra</label>
		<input id="raza" type="text" placeholder="Raza:">
		<input id="edad" type="text" placeholder="Edad:">
		<input id="comentario" type="text" placeholder="Añadir comentario:">
		<input id="registrar" type="submit" value="Registrar" class="registrar" onclick="registrar()">
	</div>
	<div id="header">
		<img src="../img/huella.png" alt="menu-icon2" style="left: 1275px;">
		<h1 style="font-family: 'Quicksand'">Regístrar Mascota</h1>
		<input type="checkbox" id="chec">
		<label for="chec">
			<img src="../img/menu.png">
		</label>
		<nav>
			<ul>
				<li> <a href="#">Inicio</a> </li>
				<li> <a href="#">Iniciar Sesión</a> </li>
				<li> <a href="#">Registrarse</a> </li>
				<li> <a href="#">Foro</a> </li>
			</ul>
		</nav>
	</div>
</form>

</header>
</body>
</html>
