<!DOCTYPE html>
<html>
<head>
	<title>
		Registro
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/formulario.css">
</head>

<body>
<header id="todo">

<form method="post" action="formulario.php">
	<header id="centro">
		<h3>Registro perro uwu</h3> 
		<P>Introduce en los siguientes campos la información del perro. </P>
		<br>
		<font class="form_n">Nombre:</font> 
		<input id="nombre" type="text" name="nombre">
		<br><br>
		<font class="form_n">Especie:</font> 
		<input id="especie" type="text" name="especie">
		<br><br>
		<font class="form_n">Status:</font> 
		<input id="status" type="text" name="status"> 
		<br><br>
		<font class="form_n">Cuidador:</font> 
		<input id="cuidador" type="text" name="cuidador"> 
		<br><br>
		<font class="form_n">Dueño:</font> 
		<input id="dueno" type="text" name="dueno"> 
		<br><br>
		<input id="macho" type="radio" name="sexo"><label for="macho">Macho</label>
		<input id="hembra" type="radio" name="sexo"><label for="hembra">Hembra</label>
		<br><br>
		<font class="form_n">Características:</font> 
		<input id="caract" type="text" name="caract"> 
		<br><br>
		<font class="form_n">Edad:</font> 
		<input id="edad" type="text" name="edad"> 

		<input id="registrar" type="submit" value="Registrar" name="registrar"><br>
	</header>
</form>

</header>
</body>
</html>
