<!DOCTYPE html>
<html>
<head>
	<title>Foro</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../js/foro.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/foro.css" />
	<link rel="shortcut icon" href="huella.png">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div id="main-container">
			<div id="container-comments">
				<div id="foro">
				</div>
			</div>
			<input type="text" id="comments" placeholder="Añada un comentario"><br>
			<button id="btn" onclick="sendComment()">Enviar</button>
	</div>
	<div id="header">
		<img src="../img/huella.png" alt="menu-icon2" style="left: 1275px;">
		<h1 style="font-family: 'Quicksand'">Foro</h1>
		<input type="checkbox" id="chec">
		<label for="chec">
			<img src="../img/menu.png">
		</label>
		<nav>
			<ul>
				<li> <a href="#">Inicio</a> </li>
				<li> <a href="#">Iniciar Sesión</a> </li>
				<li> <a href="#">Registrarse</a> </li>
				<li> <a href="#">Registrar Mascota</a> </li>
			</ul>
		</nav>
	</div>
</body>
</html>
