<!DOCTYPE html>
<html>
<head>
	<title>Iniciar Sesión</title>
	<meta charset="utf-8">
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="shortcut icon" href="huella.png">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
<div id="main-container">
	<header id="centro">
		<input id="correo" type="email" placeholder="Correo:">
		<input id="psswd" type="password" placeholder="Contraseña:">
		<input id="login" type="submit" value="Iniciar Sesión" class="login" onclick="login()">
	</div>
	<div id="header">
		<img src="../img/huella.png" alt="menu-icon2" style="left: 1275px;">
		<h1 style="font-family: 'Quicksand'">Iniciar Sesión</h1>
		<input type="checkbox" id="chec">
		<label for="chec">
			<img src="../img/menu.png">
		</label>
		<nav>
			<ul>
				<li> <a href="#">Inicio</a> </li>
				<li> <a href="#">Registrarse</a> </li>
        <li> <a href="#">Registrar Mascota</a> </li>
				<li> <a href="#">Foro</a> </li>
			</ul>
		</nav>
	</div>
</header>
</body>
</html>
