<!DOCTYPE html>
<html>
<head>
	<title>Adopta</title>
	<meta charset="utf-8">

<link rel = "stylesheet" type = "text/css" href = "../css/estilos4.css"/> 
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="/js/functions.js?v=<?php echo time(); ?>"></script>

</head>
<body> 

<div id="todo">	

	<nav class = "menu">
		<ul>
			<a href="perros.html"><li>Inicio</li></a>
			<a href="???.html"><li>Perros</li></a>
			<a href="???.php"><li>Registro</li></a>
			<a href="???.html"><li>Foro</li></a>
<!-- 		<a href="eventos.html"><li>Eventos</li></a>
			<a href="cerrar_sesion.php"><li>Cerrar Sesión</li></a>	 -->
		</ul>

	</nav>

	<section id="seccion">
	<div id="contenedor-slider" class="contenedor-slider">
 <div id="slider" class="slider">
    <section class="slider__section"><img src="../img/a1.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="../img/a2.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="../img/a3.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="../img/a4.jpg" class="slider__img"></section>
  </div>
  <div id="btn-prev" class="btn-prev">&#60;</div>
  <div id="btn-next" class="btn-next">&#62;</div>
 </div>
 <script src="../js/slider.js"></script>
	</section>

<aside class="columna">
	<div id="nombre">Odie</div>
	<div id="status">Perro en adopción</div><br><br>
	<div id="caracteristicas" class="desc">Cachorro de poco más de 1 mes de edad. Noble, agradecido, le gusta estar acompañado. Ideal para cualquier persona que necesite un compañero pequeño, leal y cariñoso.</div><br>
	<div id="concepto">Género: </div><div id="sexo" class="desc">Macho</div>
	<div id="concepto">Raza: </div><div id="especie" class="desc">Boyero de Berna</div>
	<div id="concepto">Cuidador: </div><div id="cuidador" class="desc">José</div>
	<div id="concepto">Dueño: </div><div id="dueño" class="desc">Juan Pérez</div>
	<div id="concepto">Edad: </div><div id="edad" class="desc">6 meses</div>
	<!-- <div id="concepto">Localización: </div><div id="contenido" class="desc">Querétaro,Qro</div> -->

	<form>
	<header id="boton">
		<input id="adoptar" type="submit" value="¡Adoptar!" name="adoptar"><br>
	</header>
</form>

</aside>

<aside class="columna2">
	<div id="avatar"><img src="../img/chris.jpg"></div>
	<div id="usuario">Juan Pérez </div>
	<div id="antig" class="desc">Miembro desde hace 10 meses</div>
	<div id="datos">
		<div class="Unombre">Nombre: </div><div class="Udesc">Juan Jesús Pérez López</div>
		<div class="Unombre">Residencia: </div><div class="Udesc">Querétaro, Qro. Mex.</div>
		<div class="Unombre">Teléfono: </div><div class="Udesc">(+52 442) 123 4567</div>
		<div class="Unombre">Asociación: </div><div class="Udesc">Usuario particular</div>
	</div>
	
</aside>

<div id="eventos">
		<b><font face="Calibri" size= "5">Comentarios del usuario</font><br></b>
<!-- 		<div class="imga">
			<a href ="https://www.facebook.com/NoisyBarQro/"><img src="img/noisy.jpg"></a>
		</div> -->

</div>




<footer class="pie">
	Derechos Reservados 2017-2019
</footer>

</div>

</body>

</html>