<!DOCTYPE html>
<html>
<head>
	<title>Adopta</title>
	<meta charset="utf-8">

	<!--<meta name = "author" content = "Mlujan">
	<meta name = "keywords" content = "rock, metal, música"> -->
<link rel = "stylesheet" type = "text/css" href = "../css/estilos4.css"/> 
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="/js/functions.js?v=<?php echo time(); ?>"></script>

</head>
<body> 

<div id="todo">	

	<nav class = "menu">
		<ul>
			<a href="indexprj.html"><li>Inicio</li></a>
			<a href="???.html"><li>Perros</li></a>
			<a href="???.php"><li>Gatos</li></a>
			<a href="???.html"><li>Foro</li></a>
<!-- 		<a href="eventos.html"><li>Eventos</li></a>
			<a href="cerrar_sesion.php"><li>Cerrar Sesión</li></a>	 -->
		</ul>

	</nav>

	<section id="seccion">
	<div id="contenedor-slider" class="contenedor-slider">
 <div id="slider" class="slider">
    <section class="slider__section"><img src="../img/a1.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="a2.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="a3.jpg" class="slider__img"></section>
    <section class="slider__section"><img src="a4.jpg" class="slider__img"></section>
  </div>
  <div id="btn-prev" class="btn-prev">&#60;</div>
  <div id="btn-next" class="btn-next">&#62;</div>
 </div>
 <script src="slider.js"></script>
	</section>

<aside class="columna">
	<font class="name" face="Calibri" size= "5">Odie</font><br>
	<font class="sub" face="Calibri" size= "2">Perro en adopción</font><br><br>
	<font class="desc" face="Calibri" size= "3">Cachorro de poco más de 1 mes de edad. Noble, agradecido, le gusta estar acompañado. Ideal para cualquier persona que necesite un compañero pequeño, leal y cariñoso.</font><br>
	<div id="concepto">Género: </div><div id="contenido" class="desc">Macho</div>
	<div id="concepto">Sociable con: </div><div id="contenido" class="desc">Niños, adultos, otros animales</div>
	<div id="concepto">Edad: </div><div id="contenido" class="desc">6 semanas</div>
	<div id="concepto">Entrenado: </div><div id="contenido" class="desc">Hace sus necesidades afuera</div>
	<div id="concepto">Tamaño: </div><div id="contenido" class="desc">Pequeño</div>
	<div id="concepto">Localización: </div><div id="contenido" class="desc">Querétaro,Qro</div>

	<form>
	<header id="boton">
		<input id="adoptar" type="submit" value="¡Adoptar!" name="adoptar"><br>
	</header>
</form>

</aside>

<aside class="columna2">
	<div id="avatar"><img src="chris.jpg"></div>
	<div id="usuario">Juan Pérez </div>
	<div id="antig" class="desc">Miembro desde hace 10 meses</div>
	<div id="datos">
		<div class="Unombre">Nombre: </div><div class="Udesc">Juan Jesús Pérez López</div>
		<div class="Unombre">Residencia: </div><div class="Udesc">Querétaro, Qro. Mex.</div>
		<div class="Unombre">Teléfono: </div><div class="Udesc">(+52 442) 123 4567</div>
		<div class="Unombre">Asociación: </div><div class="Udesc">Usuario particular</div>
	</div>
	
</aside>

<div id="eventos">
		<b><font face="Calibri" size= "5">Comentarios del usuario</font><br></b>
		<div class="imga">
			<a href ="https://www.facebook.com/NoisyBarQro/"><img src="img/noisy.jpg"></a>
		</div>

<!-- </div>

<div id="reloj">
<div class="date">

    <span id="weekDay" class="weekDay"></span>, 
    <span id="day" class="day"></span> de
    <span id="month" class="month"></span> del
    <span id="year" class="year"></span>
</div>
<div class="clock">
    <span id="hours" class="hours"></span> :
    <span id="minutes" class="minutes"></span> :
    <span id="seconds" class="seconds"></span>
</div>
</div>
	<script src="clock.js"></script> -->


<footer class="pie">
	Derechos Reservados 2017-2019
</footer>

</div>

</body>
<!-- 	<script type="text/javascript">
		alert('Hola!\n\n No olvides que Noviembre es nuestro mes de promoción. Registrate ahora y recibirás un código de descuento que podrás mostrar en tu próximo evento! :D');
	</script>	 -->
</html>